@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;

  --color-primary: #1B4572;
  --color-secondary: #D9D9D9;
  --color-bg: #ffffff;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
