@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;

  --color-primary: #1B4572;
  --color-secondary: #D9D9D9;
  --color-bg: #ffffff;

  --danger-low: #6BB457;
  --danger-mod: #F8ED57;
  --danger-con: #EB9840;
  --danger-hig: #DA3934;
  --danger-ext: #221F20;
  --danger-unknown: #dcdcdc;

  background-color: var(--color-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
